.wrapper{
  height: 100%;
  text-align: center;
  background-color: black;
  background-image: url('http://science-all.com/images/wallpapers/damask-wallpaper/damask-wallpaper-8.jpg');
  background-attachment: fixed;
}

a {
  color: black;
}






.navbar {
  background-color: #f2f2f2; 
}

.btn-show{
  text-transform: lowercase;
  color: white;
  margin: 10px;
  background-color: #808080;
}

.panelHead {
  background-color: black;
  color: white;
}

.panelBody {
  background-color: #f2f2f2;
}


.top-buffer{
  margin-top: 20px;
}



img {
  width: 100%;
}

.panel {
  height: 400px;
  background-color: #f2f2f2;
}

.panel-heading {
  color: grey;
  background-color: #c8c8c8;
  text-align: left;
}

html, body {
    height: 100%;
    font-family: 'Buda', cursive;
}

/*footer*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 25px; /* .push must be the same height as .footer */
}

.footer{
  background-color: #f2f2f2;
  position: relative;
  top: 25px;
  opacity: .7;
}

.copyright{
  color: #c8c8c8;
  font-family: 'Cedarville Cursive', cursive;
  position: relative;
  top: 2px;
  font-size: 15px;
}

.copyright a, a:hover {
  color: #c8c8c8;
}